<div class="container-fluid p-3 " style="background-color: #003580;">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="" class="logo fs-3 font-weight-bolder text-decoration-none">TravelMore.Com</a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a  class="nav-link px-2 " routerLink="">Home</a></li>
        <li><a  class="nav-link px-2 "routerLink="resturent">Resturants</a></li>
        <li><a  class="nav-link px-2" routerLink="hotel">Hotels</a></li>
        <li><a  class="nav-link px-2"routerLink="villa">Villas</a></li>
        <li><a  class="nav-link px-2" routerLink="apartment">Apartments</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary btn1" routerLink="property-list">List Property</button>
        <button type="button" class="btn btn-primary btn1">Register</button>
      </div>
    </header>
    <div class="container">
        <div class="search-bar">
          <form>
            <div class="row g-3">
              <div class="col-md-4">
                <label for="category" class="form-label">Category</label>
                <select class="form-select rounded-pill" id="category" [(ngModel)]="searchDetails.category" style="border: none;">
                  <option selected>Select Category</option>
                  <option value="hotel">Hotels</option>
                  <option value="apartment">Apartments</option>
                  <option value="villa">Villas</option>
                  <option value="restaurant">Restaurants</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="location" class="form-label">Location</label>
                <select class="form-select rounded-pill" id="location" [(ngModel)]="searchDetails.location">
                  <option selected>Select Location</option>
                  <option value="hambantota">Hambantota</option>
                  <option value="colombo">Colombo</option>
                  <option value="kandy">Kandy</option>
                  <option value="kurunegala">Kurunegala</option>
                  <option value="galle">Galle</option>
                  <option value="mathara">Mathara</option>
                  <option value="kaluthara">Kaluthara</option>
                  <option value="gampaha">Gampaha</option>
                  <option value="anuradhapura">Anuradhapura</option>

                </select>
              </div>
              <div class="col-md-4">
                <label for="priceRange" class="form-label">Price Pre-Night (Rs.)</label>
                <input type="range" class="form-range" min="1000" max="300000" step="1000" id="priceRange">
                <div class="price-range-output mt-2">Rs. <span id="priceOutput">1000</span></div>
              </div>
            </div>
      
            <div class="row mt-4 row-centered">
              <button type="submit" class="btn btn-custom">Search</button>
            </div>
          </form>
        </div>
      </div>
    
  </div>
  <div class="container">
    <app-card></app-card>
    <app-apartment-card></app-apartment-card>
    <app-restaurent-card></app-restaurent-card>
    <app-villa-card></app-villa-card>

  </div>
 