<div class="container my-5">
    <div *ngFor="let hotel of hotelList" class="card hotel-card mb-4">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/Images/pexels-pixabay-258154.jpg" alt="Hotel Image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <p class="card-text">{{ hotel.description }}</p>
            <p class="amenities">
              <strong>Amenities:</strong>
              <span *ngIf="hotel.amenities.wifi">Wi-Fi, </span>
              <span *ngIf="hotel.amenities.pool">Pool, </span>
              <span *ngIf="hotel.amenities.gym">Gym, </span>
              <span *ngIf="hotel.amenities.ac">AC, </span>
              <span *ngIf="hotel.amenities.parking">Parking</span>
            </p>
            <p class="price" *ngIf="hotel.price">Price: RS.{{ hotel.price }} / night</p>
            <p class="location">
                <i class="bi bi-geo-alt-fill bg-black"></i> {{ hotel.location || 'Location not provided' }}
            </p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  